extends ../layout

block content
    h1=text
    form(action='/curse/edit' method='POST')
        .form-group
            label(for='exampleInputEmail1') Название курса
            input#exampleInputEmail1.form-control(type='text' name='title' value=`${curse.title}` placeholder='Enter email')
        
        .form-group
            label(for='exampleInputPassword1') Цена курса
            input#exampleInputPassword1.form-control(type='number' name='price' value=`${curse.price}` placeholder='Password')
        .form-group
            label(for='exampleInputPassword2') Картинка
            input#exampleInputPassword2.form-control(type='text' name='url' value=`${curse.url}` placeholder='Password')    
            input(type='hidden' name='id' value=`${curse.title}`)
        
        button.btn.btn-primary(type='submit') Submit